.top-of-img {
  position: relative;
  width: 100%;
  padding-top: 50vh;
  background-image: url('./assets/hero.jpg');
  height: 100vh;
}

.flip-vertical {
  transform: rotateX(180deg);
}

.bg-white {
  background-image: url('./assets/background.jpg');
}

.primary {
  color: #8a4332 !important;
}
.secondary {
  color: white !important;
}

.img-rounded {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  box-shadow: 4px 4px 4px grey;
  object-fit: cover;
}
