@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
}
/* .gallery-item {
  margin: 5px;
} */
.gallery-item {
  /* width: 200px; */
  padding: 5px;
}

.lg-react-element {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* overflow: hidden; */
  overflow-y: auto;
  width: 100%;
  height: 390px;
}
.img-grid {
  padding: 1px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
